
.cardAnimal {
    width: 250px;
    height: 500px;
    border: solid black;
}

body {
  background-image: url(https://images.wallpaperscraft.ru/image/single/lemur_zhivotnoe_vzgliad_177471_1920x1080.jpg);
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;

}