.cardAnimal {

  width: 350px;
  height: 600px;
  border: solid black;
  background-color: rgba(255, 255, 255, 0.389);
}

/* .card-group {
    width: 250px;
    height: 500px;
    border: solid black;

} */

body {
  background: url(/images/lemur4K.jpeg) no-repeat;
  background-size: 100%;
  background-position: center;
  /* background-repeat: repeat-y; */
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;

}

.tariffBlock {
  background-color: rgba(255, 255, 255, 0.389);
}

.logBlock {
  background-color: rgba(255, 255, 255, 0.389);
  width: 500px;
  height: 250px;
  margin: 300px auto;
  padding: 15px;
  border-radius: 15px;
}