.cardAnimal {

  width: 350px;
  height: 600px;
  border: solid black;
  background-color: rgba(255, 255, 255, 0.389);
  border-radius: 10px;
}

.galery {
  width: 500px;
  height: 600px;
  border: solid black;
  border-radius: 10px;
}

.non {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;

}

.card-group {
  display: flex;
  align-items: center;
  justify-content: center;

}

body {
  background: url(https://images.wallpaperscraft.ru/image/single/lemur_vzgliad_zabavnyj_180391_3840x2400.jpg) no-repeat;
  background-size: 100%;
  background-position: center;
  /* background-repeat: repeat-y; */
  background-attachment: fixed;
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;

}

.tariffBlock {
  background-color: rgba(255, 255, 255, 0.389);
}