.cardAnimal {

  width: 350px;
  height: 600px;
  border: solid black;
  background-color: rgba(255, 255, 255, 0.389);
}

.card-group {
    width: 250px;
    height: 500px;
    border: solid black;

}

body {
  background: url(https://images.wallpaperscraft.ru/image/single/lemur_zhivotnoe_vzgliad_177471_1920x1080.jpg) no-repeat;
  background-size: 100%
}

h1 {
  text-align: center;
  color: white;
  font-size: 100px;

}